<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
const adddressBookStore = useAddressBookStore()
</script>

<template>
    <div>
    <button @click="adddressBookStore.isAddNow=!adddressBookStore.isAddNow">Add</button>
    <table>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>gender</th>
        <th>tel</th>
        <th>operation</th>
      </tr>
      <tr v-for="ad of adddressBookStore.addressList" :key="ad.id">
        <td>{{ ad.id }}</td>
        <td>{{ ad.name }}</td>
        <td>{{ ad.gender }}</td>
        <td>{{ ad.tel }}</td>
        <td>
          <button @click="adddressBookStore.edit(ad.id)">Edit</button>
          <button @click="adddressBookStore.remove(ad.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input, select, label, button{
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>