<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
const adddressBookStore = useAddressBookStore()
</script>

<template>
    <div>
    <div v-if="adddressBookStore.isAddNow">
      <div>
        <label for="name">name: </label>
        <input id="name" type="text" v-model="adddressBookStore.address.name" />
      </div>
      <div>
        <label for="gender">gender: </label>
        <select id="gender" v-model="adddressBookStore.address.gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div>
        <label for="tel">tel: </label>
        <input id="tel" type="text" v-model="adddressBookStore.address.tel"/>
      </div>
    </div>
    <div>
      <button @click="adddressBookStore.save()">Save</button>
      <button @click="adddressBookStore.cancel()">Cancel</button>
    </div>
    <div>
      <pre>{{ adddressBookStore.address }}</pre>
    </div>
  </div>
</template>

<style scoped>
input, select, label, button{
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>