<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import DummyComponent from '@/components/DummyComponent.vue';
import { provide, ref } from 'vue';
const num1 = ref(0)
provide('num1',num1)
// provide('num1Click', num1click)
function num1click() {
  num1.value++
}
</script>
<template>
  <div style="text-align: center;">
    <img style="width: 300px; border-radius: 50%;" src="../assets/jingqing.jpg" />
    <h3 style="text-align: center;">สวัสดีชาวโลก ผม วรวิทย์ ครับ</h3>
    {{ num1 }}
    <DummyComponent></DummyComponent>
  </div>
</template>
