<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { ref } from 'vue';
const num1 = ref(0)
function num1click(num: number) {
  console.log("Num1 Click: " + num)
  num1.value = num
}
</script>

<template>
  <div style="text-align: center;"><img style="width: 300px; border-radius: 50%;" src="../assets/jingqing.jpg"></div>
  <h3 style="text-align: center;">สวัสดีชาวโลก ผม วรวิทย์ ครับ</h3>
  <div style="text-align: center;">
    {{ num1 }} <NumberButton :num="1" @numClick="num1click"></NumberButton>
    <NumberButton :num="2"></NumberButton>
    <NumberButton :num="3" :inc="5"></NumberButton>
  </div>
</template>
