<script setup lang="ts">
import { inject, onMounted, ref, type Ref } from 'vue';

const _num  = inject<Ref<number>>('num1') ?? ref(1)
const doInc = () => {
    _num.value = _num.value + 1
}

const num1click = inject<() => void>('num1click') ?? doInc

</script>

<template>
    <button @click="num1click">{{ _num }}</button>
</template>